form {
  margin: 2%;
}

req {
  color: var(--red);
  font-size: 1.2rem;
}

field {
  display: block;
  width: 100%;
}

field .field-name {
  font-size: 1.3rem;
  margin-bottom: 1vh;
}

field div {
  margin-bottom: 3vh;
}

field .selection-box {
  width: 90%;
  height: 4vh;
  border: 1px solid var(--fgc);
}

.submit {
  background-color: var(--fgc);
  color: var(--bgc);
  margin-top: 1vh;
  padding: 1vh 3vw;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}

label.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

label input[type="text"] {
  display: block;
}

input[type="text"] {
  font-family: 'Noto Serif JP', serif;
  font-weight: 900;
  text-transform: uppercase;
  width: 90%;
  height: 4vh;
  border: 1px solid var(--fgc);
  padding: 1vw;
}

input[type="text"]:focus {
  outline: 1px solid var(--fgc);
}