---
title: Contact
layout: layout.njk
---

<main>
  <h1>{{ global.contact | t(lang) }}</h1>

  <section>
    <p>{{ link("Telegram", "https://t.me/kai5041", "@kai5041") | safe }}</p>
    <p>{{ link("Instagram", "https://instagram.com/kai5041._", "@kai5041._") | safe }}</p>
    <p>{{ link("Email", "mailto:rdd.contact@rairen.net", "rdd.contact@rairen.net") | safe }}</p>
  </section>

  <hr>

  <h3>Phases</h3>
  <p><strong>Provider:</strong> Kai (pseudonym), the party responsible for delivering the services.</p>
  <p><strong>Client:</strong> The individual or entity requesting and engaging the services provided.</p>

  <br>
  <p>1. Onboarding: The Client and Provider exchange initial requirements and project details.</p>

  <p>2. Contract: The Provider issues the agreement for signature. Electronic signatures and eIDAS-compliant methods are
    accepted.</p>

  <p>3. Initiation: The Provider issues the initial invoice for the upfront payment. The payment is considered received
    once funds are irreversibly settled.</p>

  <p>4. Development: The Provider maintains periodic communication with the Client regarding project progress and
    milestones.</p>

  <p>5. Live Demonstration: The Provider presents a working demonstration of the project, either through screenshots or
    a live environment accessible at https://rairen.net.</p>

  <p>6. Final Payment: The Client completes the remaining payment balance as agreed.</p>

  <p>7. Delivery: The Provider delivers and deploys the final version of the project.</p>

</main>