---
title: contact
layout: layout.njk
---

<main>
  <h1>{{ global[title] | t(lang) }}</h1>

  <section>
    <p>{{ link("Telegram", "https//t.me/kai5041", "@kai5041") | safe }}</p>
    <p>{{ link("Instagram", "https//instagram.com/kai5041._", "@kai5041._") | safe }}</p>
    <p>{{ link(contact.email | t(lang), "mailtordd.contact@rairen.net", "rdd.contact@rairen.net") | safe }}</p>
  </section>

  <hr>

  <h3>Inquiry Phases</h3>
  <p><strong>Provider</strong><br> Kai (pseudonym), the party responsible for delivering the services.</p>
  <p><strong>Client</strong><br> The individual or entity requesting the services.</p>

  <br>
  <p><strong>1. Onboarding</strong><br> The Client and Provider exchange initial requirements and project details.</p>
  <br>

  <p><strong>2. Contract</strong><br> The Provider issues the agreement for signature. Electronic signatures and
    eIDAS-compliant methods are accepted.</p>
  <br>

  <p><strong>3. Initiation</strong><br> The Provider issues the initial invoice for the upfront payment. The payment is
    considered received once funds are irreversibly settled.</p>
  <br>

  <p><strong>4. Development</strong><br> The Provider maintains periodic communication with the Client regarding
    project
    progress and milestones.</p>
  <br>

  <p><strong>5. Live Demonstration</strong><br> The Provider presents a working demonstration of the project, either
    through screenshots or a live environment accessible at https//rairen.net.</p>
  <br>

  <p><strong>6. Final Payment</strong><br> The Client completes the remaining payment balance as agreed.</p>
  <br>

  <p><strong>7. Delivery</strong><br> The Provider delivers and deploys the final version of the project. This marks the
    end of the commission.</p>

</main>