---
title: Legal Information
layout: layout.njk
---

<main>
  <h2>Legal Information</h2>

  <div class="note">
    <p><strong>Ditta</strong>: MURASAN ANDREA</p>
    <p><strong>Codice Fiscale</strong>: MRSNDR06P28H501F</p>
    <p><strong>Partita IVA</strong>: 18553221005</p>
    <p><strong>Sede</strong>: Via Anchise 29, 00133, Roma, RM</p>
    <p><strong>PEC</strong>: rairen@pec.it</p>
    <p><strong>Contatto</strong>: rdd.contact@rairen.net</p>
  </div>
</main>