---
title: Projects
layout: layout.njk
---

<main>
  <h1>{{ global.projects | t(lang) }}</h1>
  
  <section>
    <h2>Reactor</h2>
    <p>{{ projects.reactor | t(lang) | safe }}</p>
    <p>Repository: {{ projects.reactor.links | safe }}</p>
  </section>

  <section>
    <h2>Rensa / 連鎖</h2>
    <p>{{ projects.rensa | t(lang) | safe }}</p>
    <p>Repository: {{ projects.rensa.links | safe }}</p>
  </section>

  
</main>
