---
title: services
layout: layout.njk
---

<main>

  <section>
    <p class="note">
      <strong>NOTE</strong><br>
      Fiat currency payments are referenced in EUR using the <a rel="noopener noreferrer" target="_blank"
        href="https://www.ecb.europa.eu/stats/policy_and_exchange_rates/euro_reference_exchange_rates/html/index.en.html">ECB
        Reference Rates</a>.
      <br>
      Cryptocurrency payments are referenced in EUR using the market rate listed on <a rel="noopener noreferrer"
        target="_blank" href="https://kraken.com/">Kraken</a> stated by the invoice.
    </p>
  </section>

</main>