---
layout: base.njk
title_id: custom_software
---

<link rel="stylesheet" href="/css/services.css">

<div class="offers">
{% for offerId, offer in offers.offers %}

<section
  class="offer {% if offer.disabled %}disabled{% endif %}"
  id="{{ offerId }}">
  <h2>{{ offer.title | t(lang) }}</h2>

  <div>
    <p class="includes"><strong>Includes:</strong></p>
    <ul>
      {% for item in offer.includes %}
        <li>{{ item | t(lang) }}</li>
      {% endfor %}
    </ul>
  </div>

  <div>
    <p><strong>Features increasing price:</strong></p>
    <ul>
      {% for item in offer.features_increasing_price %}
        {% if item | t(lang) == "LANG_PRICE_NOTE" %}
          <li>
            +{{ services["custom_sw_lang"] | t(lang) | safe }}
            per output event (printf, log, warn, error) and per language (Italian, Romanian, Japanese)
          </li>
        {% else %}
          <li>{{ item | t(lang) }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div>
    <p class="excludes"><strong>Excludes:</strong></p>
    <ul>
      {% for item in offer.excludes %}
        <li>{{ item | t(lang) }}</li>
      {% endfor %}
    </ul>
  </div>

  <div class="bottom">
    <p><strong>{{ services.tax_residence | t(lang) }}</strong></p>
    <p class="price">{{ offer.pricing | t(lang) | safe }}
    {{ services.efer | t(lang) | safe }}</p>
    <p>{{ services.vat_exempt | t(lang) }}</p>
    <a href="/{{ lang }}/contact" class="cta">{{ services.cta | t(lang) }}</a>
  </div>
</section>

{% endfor %}

</div>

