---
layout: base.njk
title_id: linux_scripting
---

<link rel="stylesheet" href="/css/services.css">

<main>
  
  <section class="offer">

    <h2>{{ global[title_id] | t(lang) }} (COMING SOON)</h2>
    <div>
      <h3 class="includes">Includes</h3>
      <ul>
        <li></li>
      </ul>
    </div>

    <hr>

    <h3 class="excludes">Excludes</h3>
    <ul>
      <li></li>
    </ul>

    <hr>

    <p class="price"><strong>Price</strong>: starting from &euro;800 <span class="small">*VAT exempt</span></p>

    <a class="cta" href="/{{ lang }}/contact">▸ Contact the Operator</a>
  </section>


</main>

