<footer>
  <ul>
    <li>
      <p><strong>Legal</strong></p>
    <li>
      <a href="/{{ lang }}/legal-information">Legal information</a>
    </li>
    <li>
      <a href="/{{ lang }}/privacy-policy">Privacy Policy</a>
    </li>
    <li>
      <a href="/{{ lang }}/cookie-policy">Cookie Policy</a>
    </li>
    </li>
  </ul>

  <ul>
    <li>
      <p><strong>Development</strong></p>
    </li>
    <li>
      <a href="https://codeberg.org/kai5041" target="_blank" rel="nofollow noreferrer">Codeberg</a>
    </li>
    <li>
      <a href="https://github.com/kai5041" target="_blank" rel="nofollow noreferrer">GitHub</a>
    </li>
  </ul>
  <ul>
    <li>
      <p><strong>Media</strong></p>
    </li>
    <li>
      <a href="https://www.youtube.com/@kai_5041" target="_blank" rel="nofollow noreferrer">YouTube</a>
    </li>
    <li>
      <a href="https://www.instagram.com/kai5041._/" target="_blank" rel="nofollow noreferrer">Instagram</a>
    </li>
    <li>
      <a href="https://www.twitch.tv/kai5041" target="_blank" rel="nofollow noreferrer">Twitch</a>
    </li>

  </ul>

</footer>