---
layout: base.njk
title_id: contact
---

<main>
  <h1>{{ titles.contact | t(lang) }}</h1>
  <p>{{ words.email | t(lang) }}: <a href="mailto:rdd.contact@rairen.net">rdd.contact@rairen.net</a></p>
  <p>{{ words.certified_email | t(lang) }}: <a href="mailto:rairen@pec.it">rairen@pec.it</a></p>
</main>
