---
layout: base.njk
title_id: legal
---

<main>
  <h1>{{ titles.legal | t(lang) }}</h1>
  <p>{{ words.company_name | t(lang) }}: MURASAN ANDREA</p>
  <p>{{ words.vat_id | t(lang) }}: IT18553221005</p>
  <p>{{ words.address | t(lang) }}: Via Anchise 29, 00133, Roma, Italy</p>
</main>
