---
layout: base.njk
title_id: projects
---

<main>
  <section class="project">
  <h2>Retsuyuuro/裂融合</h2>
  <p>A modular C++ framework for building secure and production-ready web services with engineering precision.</p>
  <p>Status: Paused</p>
  <p>Repository: <a href="https://github.com/rairen-rdd/retsuyuuro" target="_blank">GitHub</a></p>
  </section>
</main>
