@font-face {
  font-family: 'Noto Serif JP';
  src: url('/assets/fonts/NotoSerifJP-Regular.ttf');
}

:root {
  --background-color: #D4D7D8;
  --color: #171717;
  line-height: 1.6;
}

.pfp {
	  border-radius: 50%;       /* keeps it circular */
	    width: 100%;              /* fill the container */
	      max-width: 150px;         /* limits size on large screens */
	        height: auto;             /* maintains aspect ratio */
		  display: block;           /* prevents inline spacing issues */
		    object-fit: cover;        /* ensures image fills the circle nicely */
	    }
body {
  font-family: 'Noto Serif JP', Courier, monospace;
  font-size: clamp(14px, 2vw, 18px);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

a {
  color: var(--color);
}

main {
  flex: 1;
  font-size: clamp(14px, 1.2vw, 20px);
  line-height: clamp(1.5, 2vw, 1.8);
  margin-left: 1em;
}
