@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');

body {
  background-color: #000000;
  color: #C0C0C0;
  font-family: 'Noto Serif JP', serif;
  font-size: 1vw;
  padding: 0;
  width: 90%;
}

a {
  color: #C0C0C0;
  text-underline-offset: 5px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  font-size: 0.9vw;
}

.portion {
  border-bottom: #2e2e2e solid 1px;
  padding-bottom: 1vw;
  margin-bottom: 1vw;
}

.portion:last-child {
  border-bottom: none;
}

/* --- Responsiveness */
@media screen and (max-width: 1024px) {
  body {
    font-size: 1.4vw;
  }

  .container {
    font-size: 1.2vw;
    padding: 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 2.5vw;
  }

  .container {
    font-size: 2vw;
    padding: 0.6rem;
  }

  .portion {
    padding-bottom: 2vw;
    margin-bottom: 2vw;
  }

}

@media screen and (max-width: 480px) {
  body {
    font-size: 3.5vw;
  }

  .container {
    font-size: 3vw;
    padding: 0.5rem;
  }

  .portion {
    padding-bottom: 3vw;
    margin-bottom: 3vw;
  }

}


