<footer>
  <a href="/{{ lang }}/legal-information">{{ global["legal_information"] | t(lang) }}</a>
  <a href="https://instagram.com/kai5041._">Instagram</a>
  <a href="https://github.com/kai5041">GitHub</a>
  <a href="https://codeberg.org/kai5041">Codeberg</a>
</footer>
