<div class="bar">
  <button id="lang-selector"></button>
</div>

<nav class="nav">
  <a href="/{{ lang }}/">{{ global.home | t(lang) }}</a>
  <a href="/{{ lang }}/services">{{ global.services | t(lang) }}</a>
  <a href="/{{ lang }}/projects">{{ global.projects | t(lang) }}</a>
  <a href="/{{ lang }}/contact" class="contact">{{ global.contact | t(lang) }}</a>
</nav>
