---
layout: base.njk
title_id: home
---

<main>
<h1>About</h1>

<h2>Identity</h2>
<p>Kai, in Japanese "解", known legally as Murasan Andrea, referred on this website as the "Operator", is an independent builder of systems interested in computer science, electronics engineering and systems. Currently he's dedicated on open-source project development you can find on <a href="/projects">/Projects</a>.</p>

<h2>Scope</h2>
<p>The Operator accepts software development commissions from businesses and brands which can be categorized in:
<ul>
  <li>Automation and Internal Tools: such as command-line utils, data processing and business tools</li>
  <li>Business Web Applications: such as dashboards for inventories, portals for appointment bookings and API development</li>
</ul>
</p>

<h2>Legal</h2>
<p>The Operator is a freelancer in Italy (Libero Professionista) in simplified regime (Regime Forfettario) which is VAT exempt.</p>

<h2>Online Presence</h2>
<p>Any other existing account impersonating the Operator is fraudulent.</p>
<p>
Email: rdd.contact@rairen.net<br>
PEC: rairen@pec.it<br>
Instagram: kai5041._
</p>
</main>


