---
layout: base.njk
title_id: about
---

<main>
  <h2>About Kai</h2>
  <p>Kai, the operator of this activity, is a ambitious creator of systems and open-source projects, currently open for commissions in the digital ecosystem.</p>
  <p>Also, Kai has a presence on Instagram you can find at <a href="/{{ lang }}/contact">Contact</a> where he publishes technical and operational content about the digital world, economy and energy ecology.</p>

</main>
