---
layout: base.njk
title_id: contact
---

<main>
  <h1>{{ global.contact | t(lang) }}</h1>
  <p><strong>Instagram:</strong> <a href="https://instagram.com/kai5041._" target="_blank">@kai5041._</a></p>
  <p><strong>{{ global.mail | t(lang) }}:</strong> <a href="mailto:rdd.contact@rairen.net">rdd.contact@rairen.net</a></p>

  <p><em>{{ global.response | t(lang) }}</em></p>

</main>
