---
layout: base.njk
title_id: home
---

<style>

.hero {
  text-align: center;

  font-size: 1.5rem;

  margin-bottom: 4vh;
}

.logo {
  font-size: 3rem;
  font-family: "Noto Serif JP", serif;
}

.hero .tagline {
  font-style: italic;
}

.selector div {
  margin: 0 auto;

  width: 70vw;

  border: 4px solid var(--grey);

  margin-bottom: 2vh;

  padding: 2vh 2vw;

  border-radius: 15px;
}

@media (max-width: 768px) {
  .selector div {
     width: 75vw;
     padding: 4vh 6vw;
  }
}

.cta {
  padding: 1vh 2vw;
  margin-top: 2vh;


  display: inline-block;
  border-radius: 15px;


  background-color: var(--white);
  color: var(--grey);

  text-decoration: none;

  font-weight: 500;
}

</style>

<div class="hero">
  <p class="logo">Kai/解</p>
  <p class="tagline">An operator building systems and tools</p>
</div>

<div class="selector">
  <div class="left">
    <p>Explore Kai's open-source projects.</p>
    <a class="cta" href="/{{ lang }}/projects">Open project index</a>

  </div>
  
  <div class="right">
    <p>Submit a commission request to Kai.</p>
    <a class="cta" href="/{{ lang }}/services">Request Commission</a>
  </div>

</div>

