---
layout: base.njk
title_id: home
---

<style>

.hero {
  text-align: center;

  font-size: 1.5rem;

  margin-bottom: 4vh;
}

.logo {
  font-size: 3rem;
  font-family: "Noto Serif JP", serif;
}

.hero .tagline {
  font-style: italic;
}

.selector div {
  margin: 0 auto;

  width: 70vw;

  background-color: var(--grey);

  margin-bottom: 2vh;

  padding: 4vh 4vw;

  border-radius: 15px;
}

.selector div a {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .selector div {
     width: 90vw;
  }
}

</style>

<div class="hero">
  <p class="logo">Kai/解</p>
  <p class="tagline">An operator building systems and tools</p>
</div>

<div class="selector">
  <div class="left">
    <a href="/{{ lang }}/projects">Explore Projects</a>
    <p>Discover more about Kai's open-source projects.</p>

  </div>
  
  <div class="right">
    <a href="/{{ lang }}/services">Request Service</a>
    <p>Discover more about Kai's services.</p>
  </div>

</div>

