---
layout: base.njk
title_id: projects
---

<style>
section {
  margin-bottom: 2vh;
}
</style>

<main>

<section>
  <h2>Rensa / 連鎖</h2>
  <p>An open-source project orchestrator and builder built with templating capabilities.</p>
  <p>Sources:
    <a href="https://github.com/rairen-rdd/rensa" target="_blank" rel="noopener">GitHub</a> |
    <a href="https://codeberg.com/rairen-rdd/rensa" target="_blank" rel="noopener">Codeberg</a>
 </p>
</section>


<section>
  <h2>Nintei / 認定</h2>
  <p>An open-source identity and authorization backend leveraging Classical and Post Quantum Cryptography for secure communication and authorization.</p>
  <p>Sources:
    <a href="https://github.com/rairen-rdd/nintei" target="_blank" rel="noopener">GitHub</a> |
    <a href="https://codeberg.com/rairen-rdd/nintei" target="_blank" rel="noopener">Codeberg</a>
 </p>
</section>



</main>
