---
layout: base.njk
title_id: projects
---

<style>
.active {
  color: #66FF00;
}

.paused {
  color: var(--warn);
}
</style>

<main>
  <h1>Projects</h1>
  

  {% macro create_project(project_name, description, repositories = {}, status = "active") %}
<section class="project">

  <h2>{{ project_name }}</h2>

  <p>{{ description | safe }}</p>

  {# REPOSITORIES #}
  {% if repositories and repositories | length %}
  <p class="repos">
    <strong>Repositories:</strong>

    {% set first = true %}

    {% for name, url in repositories %}
      {% if not first %} | {% endif %}
      <a href="{{ url }}" target="_blank">{{ name }}</a>
      {% set first = false %}
    {% endfor %}
  </p>


  {# STATUS BADGE #}
  <p class="status"><strong>Status:
    {% if status == "active" %}
      <span class="status active">Active</span>
    {% elif status == "paused" %}
      <span class="status paused">Paused</span>
    {% else %}
      <span class="status unknown">{{ status }}</span>
    {% endif %}
  </strong></p>
  {% endif %}

</section>
{% endmacro %}

{{ create_project(
  "Rensa / 連鎖",
  "An open-source deterministic project orchestrator.",
  {
    "GitHub": "https://github.com/rairen-rdd/rensa"
  },
  "paused"
) }}

</main>
