---
layout: base.njk
title_id: services
---

<style>

.offer {
  background-color: var(--grey);
  margin: 2vh 2vw;
  padding: 2vh 2vw;

  border-radius: 15px;
}

.offer-title::before {
  content: "❖";
  margin-right: 0.5em;
}

.offer-middle {
  margin-top: 2vh;
}

.price {
  margin-top: 2vh;
  font-size: 1.2rem;
}

.offers-grid {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .offers-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 768px) {
.offer {
    padding: 4vh 6vw;
  }
}

</style>

<main>
  <h1>Services</h1>
</main>

<section class="offers-grid">

  {% for offer in services.offers | t(lang) %}
    <div class="offer">

      <h3 class="offer-title">{{ offer.title }}</h3>

      <div class="offer-content">
        <p>{{ offer.description | safe }}</p>

        <div class="offer-middle">
        <p><strong>Optimal for:</strong></p>
        {% for element in offer.optimal_for %}
          <li>{{ element }}</li>
        {% endfor %}
        </div>

        <div class="offer-footer">
          <p class="price">Starting from &euro;{{ offer.pricing | safe }}</p>

          <a class="cta" href="/{{ lang }}/services/{{ offer.link }}/">
            ▸ Learn more
          </a>
        </div>
      </div>

    </div>
  {% endfor %}

</section>



