---
layout: base.njk
title: Kai | Services
title_id: services
---

<link rel="stylesheet" href="/css/services.css">

<main>
<div class="note warn">
  <p>Operator availability is currently suspended due to academic obligations.</p>
  <p>Services will resume operations at the end of July.</p>
</div>
</main>

<section class="offers-grid">

  {% for offer in services.offers | t(lang) %}
    <div class="offer">

      <h3 class="offer-title">{{ offer.title }}</h3>

      <div class="offer-content">
        <p>{{ offer.description | safe }}</p>

        <div class="offer-footer">
          <p class="price">{{ offer.pricing | safe }}</p>

          <a class="cta" href="/{{ lang }}/services/{{ offer.link }}/">
            ▸ Learn more
          </a>
        </div>
      </div>

    </div>
  {% endfor %}

</section>
