<div class="nav" id="nav">
  <div class="nav-menu">
    <img class="nav-logo" src="/assets/png/kai_banner_light.png">

    <header id="nav-header">
      <ul>
        <li><a href="/{{ lang }}/services/">{{ global.services | t(lang) }}</a></li>
        <li><a href="/{{ lang }}/projects/">{{ global.projects | t(lang) }}</a></li>
        <li><a href="/{{ lang }}/research/">{{ global.research | t(lang) }}</a></li>
        <li><a href="/{{ lang }}/contact/" id="contact">{{ global.contact | t(lang) }}</a></li>
      </ul>
    </header>
  </div>
</div>