{% macro socialItem(name, url, handle, note="") %}
<li>
  {{ name }}:
  <a href="{{ url }}" target="_blank" rel="noopener noreferrer">
    {{ handle }}
  </a>
  {% if note_l %}
    - {{ note_l }}
  {% endif %}
</li>
{% endmacro %}