.bar {
  width: 100vw;
  height: 7vh;

  background-color: var(--black);
  color: var(--white);

  display: flex;
  align-items: center;

  gap: 2vw;
}

.bar img {
  height: 100%;
  width: auto;
  object-fit: contain;
}

.bar button {
  margin-left: auto;
  margin-right: 2vw;

  font-size: 1.2rem;

  color: var(--white);
  background-color: transparent;
  border: transparent;

  text-decoration: underline;
}

#news-new {
  color: #FF5555FF;
  margin-right: 0.5rem;
}

.nav {
  text-align: right;

  margin-top: 1vh;
  margin-bottom: 4vh;
  margin-right: 2vh;
}

.nav a {
  display: inline-block;

  padding: 1.5vh 1.5vw;
  margin-left: 1vw;

  background-color: var(--black);
  color: var(--white);

  text-decoration: none;

  font-size: 1.2rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  .nav {
    margin-right: 0;
    padding: 0 2vw;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 1vh 2vw;
  }

  .nav a {
    margin-left: 0;

    flex: 0 0 calc(33.333% - 2vw);
    box-sizing: border-box;

    font-size: 1rem;
    padding: 1.2vh 3vw;

    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  #date {
    margin-left: 2vw;
  }
}

.hide {
  display: none;
}
