<footer>
  <a href="/{{ lang }}/legal">{{ titles.legal | t(lang) }}</a>
   ・
  <a href="/{{ lang }}/privacy">{{ titles.privacy | t(lang) }}</a>
   ・
  <a href="/{{ lang }}/donate">Donate</a>
</footer>
