@font-face {
  font-family: 'Noto Sans JP';
  src: url('/fonts/woff2/NotoSansJP-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Serif JP';
  src: url('/fonts/woff2/NotoSerifJP-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --black: #0F0F0FFF; 
  --grey:  #2A2A2AFF;

  --white: #F0F0F0FF;

  --note: #007FFFFF;
  --warn: #D6A21EFF;
}

* {
  margin: 0;
  border: 0;
  font-family: "Noto Sans JP", sans;
}

h1, h2, h3, h4 {
  font-family: "Noto Serif JP", sans-serif;
}

a {
  color: var(--grey);
}

body {
  font-size: 1rem;

  background-color: var(--white);
  color: var(--black);

  line-height: 1.7;
}

p {
  line-height: 1.4;
}

footer {
  margin-top: 4vh;

  text-align: center;
}

footer a {
  color: var(--grey);

  margin: 1vh 1vw;
}

main {
  width: 90vw;
  margin: 0 auto;
}

.msg {
  font-family: "Noto Sans JP";
  width: 90%;

  margin: 0 auto;
  margin-bottom: 2vh;

  border-left: 8px solid var(--note);
  padding: 2vh 2vw;

  background-color: var(--black);
  color: var(--white);

  font-weight: 500;
}

.msg::before {
  content: "NOTE";
  color: var(--note);
  display: block;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.msg.warning {
  border-color: var(--warn);
}

.msg.warning::before {
  content: "WARNING";
  color: var(--warn);
}

:lang(ja) .msg.warning::before {
  content: "警告";
}


ul {
  list-style: none;
  padding-left: 0;
}

li {
  display: flex;
  align-items: flex-start;
}

li::before {
  content: "▸";
  margin-right: 0.5em;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .msg {
    width: 85vw;
  }
}

.price {
  font-weight: 600;
}

button:hover {
  cursor: pointer;
}
