.nav {
  text-align: right;

  margin-top: 4vh;
  margin-bottom: 4vh;
  margin-right: 2vh;
}

.nav a {
  display: inline-block;

  padding: 1.5vh 1.5vw;
  margin-left: 1vw;

  background-color: var(--grey);
  color: var(--white);

  text-decoration: none;

  font-size: 1.2rem;
  font-weight: 500;

  border-radius: 15px;
}

.nav a:last-child {
  background-color: var(--white);
  color: var(--grey);
}

@media (max-width: 768px) {
  .nav {
    text-align: center;

    margin-right: 0;
    padding: 0 2vw;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vh;
  }

  .nav a {
    margin-left: 0;
    font-size: 1rem;

    padding: 1.2vh 3vw;

    border-radius: 12px;
  }
}

