.offer {
  border: 4px solid var(--grey);
  padding: 2vh 2vw;

  margin: 0 auto;

  max-width: 800px;

  border-radius: 15px;
}

.includes {
  color: #7FB7D6;
}

.excludes {
  color: #C85A5A;
}


h2::before {
  content: "❖";
  margin-right: 0.5em;
}

.includes::before, .excludes::before {
  content: "◆";
  margin-right: 0.5em;
}

.offer div {
  margin-bottom: 4vh;
}

.pricing {
  font-size: 1.2rem;
}

.cta {
  display: inline-block;

  margin-top: 2vh;
  padding: 1.5vh 3vw;

  background-color: var(--white);
  color: var(--grey);

  border-radius: 15px;

  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
}

@media (max-width: 768px) {
.offer {
    margin: 4vh 6vw;
    padding: 4vh 6vw;
  }
}

.offer.disabled {
  opacity: 0.6;
}

.offer.disabled .cta:hover {
  cursor: not-allowed;
}
